{% load static %}

<!DOCTYPE html>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7">
	<![endif]-->
<!--[if IE 7]>
	<html class="no-js lt-ie9 lt-ie8">
		<![endif]-->
<!--[if IE 8]>
		<html class="no-js lt-ie9">
			<![endif]-->
<!--[if gt IE 8]>
			<html class="no-js">
				<!-
				<![endif]-->
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{ lang.homepage_webtitle }}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1"> {% load bootstrap5 %} {% bootstrap_css %} {% bootstrap_javascript %}
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <script src="https://kit.fontawesome.com/fc161a42c6.js" crossorigin="anonymous"></script>
  </head>
  <body>
    <!--[if lt IE 7]>
											<p class="browsehappy">You are using an 
												<strong>outdated</strong> browser. Please 
												<a href="#">upgrade your browser</a> to improve your experience.
											</p>
											<![endif]-->
    <button type="button" class="btn btn-primary btn-lg rounded-circle" id="scrollTopBtn" style="position: fixed; bottom: 30px; right: 30px; display: none; z-index: 3;">
      ▲
    </button>     
    <nav class="navbar navbar-expand-sm fixed-top navbar-dark ps-4 pe-4 pt-3 pb-3">
      <div class="container-fluid d-flex gap-4 flex-row align-items-center justify-content-between text-white">
        <div class="d-flex gap-4 flex-row align-items-center justify-content-start text-white">
          <a class="navbar-brand" href="{% url 'homepage' %}">
            <img id="pagelogo" src="{% static 'image/logo_white.svg' %}" style="color: white; height: 30px;">
          </a>
          <p class="m-0">{{ lang.greeting_text }} {% if user.is_authenticated %} {{ user.username }} {% else %} {{ lang.default_user_name }} {% endif %}</p>  
        </div>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarContent">

          <div class="ms-auto d-flex gap-4 flex-row align-items-center justify-content-between text-white">
            {% if user.is_authenticated %}
              <button class="btn btn-primary d-flex justify-content-center" onclick="window.location.href = '{% url 'log_out' %}'">LOG OUT</button>
            {% else %}
              <button class="btn btn-primary d-flex justify-content-center" onclick="window.location.href = '{% url 'log_in' %}'">LOG IN</button>
              <button class="btn btn-primary d-flex justify-content-center" onclick="window.location.href = '{% url 'signup' %}'">SIGN UP</button>
            {% endif %}
            <button class="btn btn-primary d-flex justify-content-center" onclick="window.location.href = '#searchsection'">SEARCH</button>
          </div>
        </div>
      </div>
    </nav>
                      
    <section id="titlesection" class="container-fluid text-white d-flex align-items-center justify-content-center p-5" style="height: 100vh; background-image: url('{% static 'image/background.jpg' %}');">
      <div class="d-flex flex-column align-items-center justify-content-center" style="z-index: 2">
        <span class='display-3'>Quy Nhon</span>
        <h3 class="text-center">Discover Paradise: Your Ultimate Tourism Recommendation</h3>
      </div>
    </section>
    <section id="infosection" class="container-fluid text-white d-flex align-items-center justify-content-center">
      <div class="row w-100 m-5">
          <div class="col-lg-4 d-flex align-items-center justify-content-center mb-4 mb-lg-0">
              <img src="{% static 'image/pinlocation.png' %}" alt="Main Image" class="img-fluid" style="max-width: 80%;">
          </div>
  
          <div id="titlepart" class="col-lg-8 d-flex flex-column align-items-center justify-content-center p-5">
              <h1 class="mb-3"><b>Welcome to Our Service</b></h1>
  
              <h4 class="mb-4">Your one-stop solution for discovering locations tailored to your preferences</h4>
  
              <div class="row mb-3 mt-3 w-100">
                  <div class="col-md-6 mb-3">
                      <div class="d-flex rounded overflow-hidden">
                          <div id="iconpart" class="d-flex align-items-center justify-content-center p-3 icon">
                              <img src="{% static 'image/alternate-map-marker.svg' %}" alt="Icon 1" class="img-fluid" style="min-width: 30px;">
                          </div>
                          <div id="textpart" class="d-flex align-items-center justify-content-start p-3 description">
                              <h5 class="mb-0">Discover top-rated locations curated just for you based on personalized preferences.</h5>
                          </div>
                      </div>
                  </div>
              
                  <div class="col-md-6 mb-3">
                      <div class="d-flex rounded overflow-hidden">
                          <div id="iconpart" class="d-flex align-items-center justify-content-center p-3 icon">
                              <img src="{% static 'image/sort-amount-down.svg' %}" alt="Icon 2" class="img-fluid" style="min-width: 30px;">
                          </div>
                          <div id="textpart" class="d-flex align-items-center justify-content-start p-3 description">
                              <h5 class="mb-0">Search and filter locations easily using tags and categories that matter to you.</h5>
                          </div>
                      </div>
                  </div>
              
                  <div class="col-md-6 mb-3">
                      <div class="d-flex rounded overflow-hidden">
                          <div id="iconpart" class="d-flex align-items-center justify-content-center p-3 icon">
                              <img src="{% static 'image/sun.svg' %}" alt="Icon 3" class="img-fluid" style="min-width: 30px;">
                          </div>
                          <div id="textpart" class="d-flex align-items-center justify-content-start p-3 description">
                              <h5 class="mb-0">Get accurate weather recommendations to plan your visits perfectly.</h5>
                          </div>
                      </div>
                  </div>
              
                  <div class="col-md-6 mb-3">
                      <div class="d-flex rounded overflow-hidden">
                          <div id="iconpart" class="d-flex align-items-center justify-content-center p-3 icon">
                              <img src="{% static 'image/alternate-mobile.svg' %}" alt="Icon 4" class="img-fluid" style="min-width: 30px;">
                          </div>
                          <div id="textpart" class="d-flex align-items-center justify-content-start p-3 description">
                              <h5 class="mb-0">Enjoy a seamless and intuitive experience, whether you're at home or on the go.</h5>
                          </div>
                      </div>
                  </div>
              </div>

                <h4 class="mb-4">Libraries and Technologies Used</h4>

                <div class="d-flex flex-wrap justify-content-center gap-2">
                    <img src="{% static 'image/django.svg' %}" alt="Django" class="img-fluid mx-2 my-2 tech-icon" style="max-height: 60px;">
                    <img src="{% static 'image/bootstrap.png' %}" alt="Bootstrap" class="img-fluid mx-2 my-2 tech-icon" style="max-height: 60px;">
                    <img src="{% static 'image/jquery.png' %}" alt="jQuery" class="img-fluid my-2 tech-icon" style="max-height: 60px;">
                    <img src="{% static 'image/numpy.png' %}" alt="NumPy" class="img-fluid mx-2 my-2 tech-icon" style="max-height: 60px;">
                    <img src="{% static 'image/scikit.svg' %}" alt="Scikit-Learn" class="img-fluid mx-2 my-2 tech-icon" style="max-height: 60px;">
                    <img src="{% static 'image/tensorflow.png' %}" alt="Tensorflow" class="img-fluid my-2 tech-icon" style="max-height: 60px;">
                </div>
            </div>
        </div>
    </section>
    <section id="homepagesection" class="container-fluid text-white">
      <div class="row justify-content-center p-5 gx-5">
        <div id="titlepart" class="col-md-7 p-5 d-flex gap-4 justify-content-center align-items-center flex-column">
          <div class="d-flex gap-1 justify-content-between flex-column w-100">
            <h1 class="display-3">
              <b>{{ lang.homepage_title }}</b>
            </h1> 
            <h2>
              <b>{{ lang.homepage_subtitle }}</b>
            </h2>
            <h5>A sophisticated AI system that recommends locations based on your search query and personalization.</h5>
          </div>
          <form class="d-flex flex-column justify-content-between w-100 gap-2" action="{% url 'search' %}#homepagesection" method="post">
            {% csrf_token %}
            <div class="d-flex flex-row justify-content-between gap-2 flex-wrap">
              {{ searchform.search_input }}
            </div>
            <div class="d-flex flex-row justify-content-between gap-2 flex-wrap">
              {{ searchform.date_input }}
              {{ searchform.sort_rating }}
              {{ searchform.sort_order }}
              <button class="btn btn-primary d-flex justify-content-center" id="searchbutton">Suggest</button>
            </div>
          <div class="text-center">
            {% if search_logging %}
              <div class="alert alert-info">
                {{ search_logging }}
              </div>
            {% endif %}
          </div>
        </form>
        </div>
        <div class="col-md-4 d-flex justify-content-center align-items-center">
          <img id="carouselExampleIndicators" src="{% static 'image/tourismlogo.png' %}" class="h-100 w-100">
      </div>
    </section>  
    {% comment %} <section id="choosesection" class="container-fluid text-white">
      <div class="d-flex flex-column align-items-center justify-content-center m-5">
        <h1 class="mb-3">Or start by Filtering</h1>
        <h4 class="mb-4">Find all locations associated to what you have chosen.</h4>
    
        <div class="row w-100 h-100 justify-content-center gap-2">
          <div class="col-md-2" style="height: 400px">
            <div class="card bg-dark text-white h-100 card-hover">
              <div class="card-img-overlay card-overlay" style="background-image: url('{% static 'image/attractionvietnam.jpg' %}');"></div>
              <h2 class="mb-0 position-absolute bottom-0 start-0 p-3 bg-dark bg-opacity-50 w-100 text-center">Attractions</h2>
            </div>
          </div>
    
          <div class="col-md-2" style="height: 400px">
            <div class="card bg-dark text-white h-100 card-hover">
              <div class="card-img-overlay card-overlay" style="background-image: url('{% static 'image/beachvietnam.jpg' %}');"></div>
              <h2 class="mb-0 position-absolute bottom-0 start-0 p-3 bg-dark bg-opacity-50 w-100 text-center">Beaches</h2>
            </div>
          </div>
    
          <div class="col-md-2" style="height: 400px">
            <div class="card bg-dark text-white h-100 card-hover">
              <div class="card-img-overlay card-overlay" style="background-image: url('{% static 'image/vietnamhotel.jpg' %}');"></div>
              <h2 class="mb-0 position-absolute bottom-0 start-0 p-3 bg-dark bg-opacity-50 w-100 text-center">Hotels</h2>
            </div>
          </div>

          <div class="col-md-2" style="height: 400px">
            <div class="card bg-dark text-white h-100 card-hover">
              <div class="card-img-overlay card-overlay" style="background-image: url('{% static 'image/vietnammotel.jpg' %}');"></div>
              <h2 class="mb-0 position-absolute bottom-0 start-0 p-3 bg-dark bg-opacity-50 w-100 text-center">Motels</h2>
            </div>
          </div>
        </div>
      </div>
    </section> {% endcomment %}
    <section id="searchsection" class="container-fluid text-white">
      <div class="row p-5 gx-5">
        <form class="p-4 mb-5 col-lg-3" id="filterpanel" method="get" action="{% url 'filter_locations' %}"> 
          {% csrf_token %} 
          <div class="mb-4">
            <h3>Weather Status:</h3>
            <p>{{ weather }}</p>
          </div>
          <div class="mb-4">
            <h3>Filtering:</h3>
            <h5>Location Name:</h5>
            {{ filterform.search_input }}
          </div>
          <div class="mb-4">
            <h5>Planned Date:</h5>
            {{ filterform.date_input }}
          </div>
          <div class="mb-4">
            <h5>Sort Type:</h5>
            {{ filterform.sort_rating }}
          </div>
          <div class="mb-4">
            <h5>Sort Order:</h5>
            {{ filterform.sort_order }}
          </div>
          <div class="mb-4">
            <button id="filterbutton" class="btn btn-primary">{{ lang.searchbutton_text }}</button>
          </div>
          <div class="mb-4">
            <h3>Tag Filter:</h3>
            {{ filterform.tag_search }}
          </div>
          <div class="filterlist mb-4">
            {{ filterform.render_tagslist | safe }}
          </div>
        </form>
        <div class="col-lg-9">
          <div class="row">
            {% for locationinfo in locationlist %}
            <div class="col-lg-3 col-md-4 col-sm-6 col-12 mb-4 d-flex">
              <div class="card w-100 h-100">
                <div class="card-img-container">
                  <img class="card-img-top" src="/media/{{ locationinfo.image }}" alt="{{ locationinfo.place_name }}">
                </div>
                <div class="card-body text-white d-flex flex-column justify-content-center">
                  {% if locationinfo.weather_approve %}
                    <div class="d-flex flex-row align-items-center justify-content-center" style="position: absolute; top: 5px; right: 5px;">
                      <img src="{% static 'image/approveicon.png' %}" style="width: 30px; height: 30px;">
                    </div>
                  {% endif %}
                  <div>
                    <h6 class="text-truncate">{{ locationinfo.tags }}</h6>
                    <h4 class="text-truncate">
                      <b>{{ locationinfo.place_name }}</b>
                    </h4>
                  </div>
                  <div class="d-flex justify-content-between">
                    <h6>{{ locationinfo.average_rating }} ★ <span class="text-secondary">({{ locationinfo.total_rating }})</span></h6>
                    <h6>Views: {{ locationinfo.view_count }}</h6>
                  </div>
                  {% if user.is_authenticated and show_rating %}
                  <div id="rating-section" class="d-flex flex-row justify-content-center flex-fill gap-2">
                    <div class="align-items-center">
                      <div class="star-wrapper alert alert-primary align-items-center justify-content-center m-0 p-1" data-location="{{ locationinfo.place_id }}">
                        {% for i in "54321" %}
                            <a href="javascript:void(0);" class="s{{ i }} rating-star" data-rating="{{ i }}" data-location="{{ locationinfo.place_id }}">
                                <h5 class="p-0 m-0">★</h5>
                            </a>
                        {% endfor %}
                        <h6 class="p-0 m-0">Rate suggestion:</h6>
                      </div>
                      <div id="rating-message-{{ locationinfo.place_id }}" class="rating-message alert alert-warning align-items-center justify-content-center m-0 p-1"></div>
                    </div>
                  </div>
                  {% elif show_rating %}
                  <div class="alert alert-warning d-flex align-items-center justify-content-center p-1 m-0" role="alert">
                    <h6 class="p-0 m-0">Please log in to rate suggestion.</h6>
                  </div>
                  {% endif %}
                  <a href="{% url 'location_detail' slug=locationinfo.slug %}" class="mt-1">
                    <button class="btn btn-primary w-100">MORE INFO</button>
                  </a>
                </div>
              </div>
            </div>
            {% endfor %}            
          </div>
          <div style="display: flex; align-items: center; justify-content: center;">
            {{ search_logging }}
          </div>
          <ul class="pagination justify-content-center"> 
            {% with request.GET.urlencode as query_string %} 
            {% for pagenumber in details %}
              <li class="page-item {% if request.resolver_match.kwargs.page == pagenumber %}active{% endif %}">
                <a class="page-link" href="{% url 'homepage' pagenumber %}?{% if query_string %}{{ query_string }}{% endif %}#searchsection">
                  {{ pagenumber }}
                </a>
              </li>
            {% endfor %}
          {% endwith %}
          </ul>
        </div>
      </div>
    </section>
    
    <footer class="text-center text-lg-start text-white" id="contactsection" style="background-color: #1c2331">
      <section class="d-flex justify-content-between p-4" style="background-color: #6351ce">
        <div class="me-5">
          <span>Get connected with us on social networks:</span>
        </div>
        <div>
          <a href="" class="text-white me-4">
            <i class="fab fa-facebook-f"></i>
          </a>
          <a href="" class="text-white me-4">
            <i class="fab fa-twitter"></i>
          </a>
          <a href="" class="text-white me-4">
            <i class="fab fa-google"></i>
          </a>
          <a href="" class="text-white me-4">
            <i class="fab fa-instagram"></i>
          </a>
          <a href="" class="text-white me-4">
            <i class="fab fa-linkedin"></i>
          </a>
          <a href="" class="text-white me-4">
            <i class="fab fa-github"></i>
          </a>
        </div>
      </section>
      <section class="">
        <div class="container text-center text-md-start mt-5 pt-3">
          <div class="row mt-3">
            <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
              <h6 class="text-uppercase fw-bold">CONTACT US</h6>
              <hr class="mb-4 mt-0 d-inline-block mx-auto" style="width: 60px; background-color: #7c4dff; height: 2px" />
              <p>Our group's main purpose is to produce an AI that's able to suggest locations based on query and user preferences.</p>
            </div>
            <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
              <h6 class="text-uppercase fw-bold">Products</h6>
              <hr class="mb-4 mt-0 d-inline-block mx-auto" style="width: 60px; background-color: #7c4dff; height: 2px" />
              <p>
                <a href="#!" class="text-white">MDBootstrap</a>
              </p>
              <p>
                <a href="#!" class="text-white">MDWordPress</a>
              </p>
              <p>
                <a href="#!" class="text-white">BrandFlow</a>
              </p>
              <p>
                <a href="#!" class="text-white">Bootstrap Angular</a>
              </p>
            </div>
            <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
              <h6 class="text-uppercase fw-bold">Useful links</h6>
              <hr class="mb-4 mt-0 d-inline-block mx-auto" style="width: 60px; background-color: #7c4dff; height: 2px" />
              <p>
                <a href="#!" class="text-white">Your Account</a>
              </p>
              <p>
                <a href="#!" class="text-white">Become an Affiliate</a>
              </p>
              <p>
                <a href="#!" class="text-white">Shipping Rates</a>
              </p>
              <p>
                <a href="#!" class="text-white">Help</a>
              </p>
            </div>
            <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
              <!-- Links -->
              <h6 class="text-uppercase fw-bold">Contact</h6>
              <hr class="mb-4 mt-0 d-inline-block mx-auto" style="width: 60px; background-color: #7c4dff; height: 2px" />
              <p>
                <i class="fas fa-home mr-3"></i> Example location
              </p>
              <p>
                <i class="fas fa-envelope mr-3"></i> example@gmail.com
              </p>
              <p>
                <i class="fas fa-phone mr-3"></i> + 01 234 567 88
              </p>
              <p>
                <i class="fas fa-print mr-3"></i> + 01 234 567 89
              </p>
            </div>
          </div>
        </div>
      </section>
      <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)"></a>
      </div>
    </footer>
    <script src="{% static 'js/index.js' %}" async defer></script>
    <script>
    document.addEventListener('DOMContentLoaded', function() {
        const ratingStars = document.querySelectorAll('.rating-star');
    
        ratingStars.forEach(star => {
            star.addEventListener('click', function() {
                const rating = this.getAttribute('data-rating');
                const locationId = this.getAttribute('data-location');
                const questionTags = "{{ question_tags|escapejs }}";
                const csrfToken = document.querySelector('[name=csrfmiddlewaretoken]').value;
    
                fetch("{% url 'rate_result' %}", {
                    method: 'POST',
                    headers: {
                        'X-CSRFToken': csrfToken,
                        'X-Requested-With': 'XMLHttpRequest', 
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify({
                        rating: rating,
                        question_tags: questionTags,
                        location_id: locationId
                    }),
                })
                .then(response => response.json())
                .then(data => {
                    const ratingMessage = document.getElementById('rating-message-' + locationId);
                    if (data.success) {
                        ratingMessage.textContent = "Successfully rated!";
                        ratingMessage.style.display = 'flex';
                        document.querySelector(`.star-wrapper[data-location="${locationId}"]`).style.display = 'none';
                    } else {
                        ratingMessage.textContent = "Error: Unable to rate. (" + data.error + ")";
                        ratingMessage.style.display = 'flex';
                        document.querySelector(`.star-wrapper[data-location="${locationId}"]`).style.display = 'none';
                    }
                });
            });
        });
    });
    </script>
  </body>
</html>