{% load static %}
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!-<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>{{ lang.homepage_webtitle }}</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static 'css/index.css' %}">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Manrope">
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Open+Sans">
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Merriweather">
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        <header id="infoheader" class="flexhorizontal">
            <div>
                <img id="pagelogo" src="{% static 'image/logo.svg' %}">
            </div>
            <div>
                <p>{{ lang.homepage_tagline }}</p>
            </div>
        </header>
        <header id="homepageheader">
            <div class="flexhorizontal">
                <div class="flexhorizontal" id="leftpartheader">
                    <button class="homepagebutton">{{ lang.aboutheader_text }}</button>
                    <button class="homepagebutton">{{ lang.contactheader_text }}</button>
                </div>
                <div class="flexhorizontal" id="rightpartheader">
                    <p>{{ lang.greeting_text }} 
                        {% if user.is_authenticated %}
                            {{ user.username }}
                        {% else %}
                            {{ lang.default_user_name }}
                        {% endif %}
                    </p>
                    {% if user.is_authenticated %}
                        <button class="homepagebutton" onclick="window.location.href = '{% url 'log_out' %}'"><span class="material-icons">login</span> {{ lang.logout_text }}</button>
                        <button class="homepagebutton" onclick="window.location.href = '{% url 'profile' %}'"><span class="material-icons">person</span> {{ lang.profile_text }}</button>
                    {% else %}
                        <button class="homepagebutton" onclick="window.location.href = '{% url 'log_in' %}'"><span class="material-icons">login</span> {{ lang.login_text }}</button>
                        <button class="homepagebutton" onclick="window.location.href = '{% url 'signup' %}'"><span class="material-icons">person</span> {{ lang.signup_text }}</button>
                    {% endif %}
                    <button class="homepagebutton" onclick="window.location.href = '#searchsection'"><span class="material-icons">search</span> {{ lang.searchbutton_text }}</button>
                </div>
            </div>
        </header>
        <section id="homepagesection" style="background-image: url({% static 'image/background.jpg' %})">
            <div class="flexcenterleft">
                <div>
                    <h1 id="pagetitle">{{ lang.homepage_title }}</h1>
                    <h2 id="pagesubtitle">{{ lang.homepage_subtitle }}</h2>
                </div>
                <form class="flexhorizontal" action="{% url 'search' %}" method="post">
                {% csrf_token %}
                    {{ searchform.search_input }}
                    <button class="flexhorizontal" id="searchbutton">{{ lang.searchbutton_text }}<span class="material-icons">search</span></button>
                </form>
                {% if messages %}
                    {% for message in messages %}
                    <h3{% if message.tags %} id="pagesubtitle"{% endif %}>{{ message }}</h3>
                    {% endfor %}
                {% endif %}
            </div>
            <div class="flexhorizontal" id="imagestrip">
                <div class="imagecontainer">
                    <img id="homepagesubimage" src="{% static 'image/subimage1.jpg' %}">
                    <div class="overlay">
                        <div class="text">{{ lang.subimage1_text }}</div>
                    </div>
                </div>
                <div class="imagecontainer">
                    <img id="homepagesubimage" src="{% static 'image/subimage2.jpg' %}">
                    <div class="overlay">
                        <div class="text">{{ lang.subimage2_text }}</div>
                    </div>
                </div>
                <div class="imagecontainer">
                    <img id="homepagesubimage" src="{% static 'image/subimage3.jpg' %}">
                    <div class="overlay">
                        <div class="text">{{ lang.subimage3_text }}</div>
                    </div>
                </div>
            </div>
        </section>
        <section id="infosection" style="background-image: url({% static 'image/infobackground.png' %})">
            <h1 id="infotitle">{{ lang.binhdinh_title }}</h1>
            <h2 id="infosubtitle">{{ lang.binhdinh_tagline }}</h2>
            <h2 id="infosubtitle">{{ lang.binhdinh_info }}</h2>
        </section>
        <section id="searchsection">
            <div class="gridcontainer">
                <div id="displaylocation">
                    <div class="cardgrid">
                        {% for locationinfo in locationlist %}
                        <div class="cardcontainer">
                            <div class="cardimage" style="background-image:url(/media/{{ locationinfo.image }})" onclick="turn_overlay_on({{ forloop.counter }})"></div>
                            <img src="{% static 'image/zoomicon.png' %}" id="zoomicon">
                            <div class="cardinfo">
                                <h5 style="text-overflow: ellipsis; white-space: nowrap; overflow: hidden;">{{ locationinfo.tags }}
                                <h3 style="text-overflow: ellipsis; white-space: nowrap; overflow: hidden;">{{ locationinfo.place_name }}</h3>
                                <h5>{{ locationinfo.ratings }}★</h5>
                                <a href="{% url 'location_detail' slug=locationinfo.slug  %}">
                                    <button class="morebutton">MORE INFO</button>
                                </a>
                            </div>
                        </div>
                        <div class="locationoverlay" id="locationoverlay{{ forloop.counter }}" onclick="turn_overlay_off({{ forloop.counter }})">
                            <img src="/media/{{ locationinfo.image }}" class="locationimageoverlay">
                        </div>
                        {% endfor %}
                    </div>
                    <div id="searchpage">
                        {% for pagenumber in details %}
                            <a href="{% url 'homepage_page' page=pagenumber %}#searchsection" >{{ pagenumber }}</a>
                        {% endfor %}
                    </div>
                </div>
                <div id="filterpanel">
                    <p id="filtertitle">{{ lang.searchbutton_text }}</p>
                    <input class="smallsearchbar" type="text" placeholder="{{ smallsearchbar_placeholder }}"></input>
                    <button id="filterbutton">{{ lang.searchbutton_text }}</button>
                    <p id="filtertitle">{{ lang.filterlocation_text }}</p>
                    <p id="filtersubtitle">{{ lang.filterlocation_subtext }}</p>
                    <input id="tagSearch" class="smallsearchbar" type="text" placeholder="Search tags">
                    <div class="filterlist">
                        {% for tag in tagslist %}
                        <div class="locationcontainer">
                            <input type="checkbox" id="{{ tag }}" class="tag">
                            <label for="{{ tag }}" class="locationtagtext">{{ tag }}</label>
                        </div>
                        {% endfor %}
                    </div>
                    {% comment %} <p id="showmoretext">{{ lang.showmore_text }}</p>
                    <hr>
                    <p id="filtersubtitle">{{ filtertopic_subtext }}</p>
                        {% for tags in topiclist %}
                        <div class="locationcontainer">
                            <input type="checkbox" id="{{ tags.tags_name }}">
                            <label for="{{ tag.tags_name }}" class="locationtagtext">{{ tag.tags_name }}</label>
                        </div>
                        {% endfor %}
                    <p id="showmoretext">{{ lang.showmore_text }}</p> {% endcomment %}
                </div>
            </div>
        </section>
        <script src="{% static 'js/index.js' %}" async defer></script>
    </body>
</html>